@import "../../../components/styles/content";

.import-content {
  @extend .content;

  .categorize-button {
    font-size: 85%;
  }

  .categories {
    font-size: 60%;
    width: 100px;

    > div > span {
      > h4,
      h5 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      > h5 {
        padding-left: 10px;
      }
    }
  }

  .transactions {
    margin-top: 5px;
    font-size: 60%;
    padding-left: 20px;

    .transaction {
      padding-bottom: 20px;

      .selector {
        position: absolute;
        left: -3px;
      }
    }
  }
}
