@import "panel";

.budget {
  @include panel(true);
  position: relative;
  margin-bottom: $margin-from-anchor;
  margin-right: $margin-from-anchor;
  background-color: #fff;
  height: $height-of-top-panels - $margin-from-anchor;
  width: $width-of-left-panels - $margin-from-anchor;

  > div {
    position: absolute;
    bottom: $text-padding-from-anchor;
    right: $text-padding-from-anchor;
    text-align: right;
  }
}
